<ion-content [fullscreen]="true">
  <div class="background-wrapper">
    <img 
      src="/assets/img/Math Team App BG 3x.jpg"
      class="box" />
    <h1 class="title">
      About Us
    </h1>
    <div class="eli">
      img
    </div>
    <p class="text1">
      Eli Cui <br/>
      Brawl Main: Mandy <br/>
      He really likes math, so he joined the math team. <br/>
      25-26 Math Team Co-Prezi
    </p>
    <p class="text2">
      Shubh Varshney <br/>
      It is time to initiate the parabolas. Again. <br/>
      25-26 Math Team Co-Prezi
    </p>
  </div>
  <img
    src="/assets/img/home_icon2.png"
    class="home-image-button"
    (click)="goToHomePage()"
    alt="Home Button"
  />
</ion-content>
