<ion-content [fullscreen]="true">

  <div class="image-row-top">
    <a id="t1">
      <input type="image" (click)="goToSignInPage()" class="img1" src="https://static.vecteezy.com/system/resources/thumbnails/033/882/148/small_2x/transparent-background-person-icon-free-png.png" />
    </a>
    <a id="t2">
      <input type="image" (click)="goToCoachesPage()" class="img1" src="/assets/img/about_the_coaches.png" />
    </a>
    <a id="t3">
      <input type="image" (click)="goToInfoPage()" class="img1" src="/assets/img/about_us_icon2.png" />
    </a>
  </div>

  <div class="background-wrapper">
    <img 
      src="/assets/img/Math Team App BG 3x.jpg"
      class="box" />
    <img
      src="https://static.vecteezy.com/system/resources/thumbnails/033/882/148/small_2x/transparent-background-person-icon-free-png.png"
      class="center-image"
      [style.transform]="getCenterImageTransform()"
    />
    <h1
      class="name"
      [style.transform]="getCenterImageTransform()">
      {{ userName }}
    </h1>
    <h3
      class="grade"
      [style.transform]="getCenterImageTransform()">
      {{ grade }}
    </h3>
    <h6
      class="announce1"
      [style.transform]="getCenterImageTransform()">
      Meet 1: dd-mm-yyyy
    </h6>
    <h6
      class="announce2"
      [style.transform]="getCenterImageTransform()">
      test
    </h6>
    <h6
      class="announce3"
      [style.transform]="getCenterImageTransform()">
      date 3
    </h6>
  </div>

  <div>
    <h1 
    class="game-text"
    [style.transform]="getCenterImageTransform()">
      coming soon!
    </h1>
  </div>

  <div>
    <a id="ictm">
      <input type="image" 
      (click)="goToIctmPage()" 
      class="ictm-button" 
      [style.transform]="getCenterImageTransform()"
      src="/assets/img/potd_icon.png" />
    </a>
  </div>

  <div class="image-row-bottom">
    <a id="t1">
      <input type="image" (click)="moveBox(100)" class="img1" src="/assets/img/potd_icon.png" />
    </a>
    <a id="t2">
      <input type="image" (click)="moveBox(0)" class="img1" src="/assets/img/home_icon2.png" />
    </a>
    <a id="t3">
      <input type="image" (click)="moveBox(-100)" class="img1" src="/assets/img/games_icon.png" />
    </a>
  </div>

</ion-content>
